<li class="nav-item <%= active?(audit_logs_path) %>">
  <%= link_to "<i class='fas fa-clipboard-list'></i> Audit Logs #{sr_only_span(audit_logs_path)}".html_safe, audit_logs_path, { class: "nav-link" } %>
</li>