<% recent_audit_items.each do |recent_audit_item| %>
  <div class="card bg-light mb-3 mx-4 hoverable" style="width: 18rem;">
    <div class="card-header"><%= recent_audit_item.user.full_name %></div>
    <div class="card-body">
      <p class="card-text">
        <span class="pending-details">Week Starting:</span> <%= recent_audit_item.start_date %>
      </p>
      <p class="card-text">
        <span class="pending-details">Confirmed At:</span> <%= recent_audit_item.end_date || state_badge("pending") %>
      </p>
      <p class="card-text">
        <span class="pending-details">Status:</span> <%= state_badge(recent_audit_item.state) %>
      </p>
    </div>
  </div>
<% end %>
