<div class="container-fluid">
  <div class="row">
    <div class="jumbotron col-md-5 mr-5">
      <div class="container-fluid">
        <h2 class="display-4">Request Overtime</h2>
        <hr class="my-4">
        <div class="row">      
          <%= link_to "Request Overtime Approval", new_post_path, class: "btn btn-primary btn-block" %>
        </div>
      </div>
    </div>
    <div class="jumbotron col-md-5">
      <div class="container-fluid">
        <h2 class="display-4">Your Pending Confirmations</h2>
        <hr class="my-4">
        <div class="row">      
          <%= render partial: "pending_audit_confirmations", locals: { pending_audit_confirmations: @pending_audit_confirmations } %>
        </div>
      </div>
    </div>
  </div>
</div>
