@import './bootstrap_custom.scss';
@import "toastify-js/src/toastify.css";

body {
    padding-top: 100px;
    #app-errors {
        display: none;
        width: 100%;
        padding-top: 15px;
    }
}